<nav class="navbar-dark bg-dark d-flex logoSide">
    <img src="./assets/img/logo.svg" alt="" class="logoImage">
    <p class="blogName">24/7 NEWS</p>
</nav>
  
 
    <nav class="navbar navbar-expand-lg color">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active navComp" aria-current="page" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active navComp" href="news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active navComp" href="#">Politics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active navComp" href="business">Business</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active navComp" href="#">Sports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active navComp" href="entertainment">Entertainment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active navComp" href="health">Health</a>
          </li>
          <a href="login" class="dropdown-toggle nav-link"> Account</a>
          <a href="login" class="nav-link active navComp navBtn">Account</a>
          <button class="btn btn-sm navComp navBtn2">Sign Up</button>
          
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a> -->
            <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
 
  