@import "~bootstrap/dist/css/bootstrap.css";
.headerNav {
    position: absolute;
    bottom: 44.44%;
    left: 0%;
    right: 0%;
    top: 0%;
    height: 5.7rem;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.color {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 13%;
    height: 4.5rem;
    z-index: 100;
    background-color: #FAA4A5;  
}

.navText{
  position: relative;
  left: 9rem;
  padding: 0 1.5rem;
}

.logoSide {
    position: absolute;
    display: flex;
    justify-content: center;
}

.blogName {
    font-size: 3rem;
    color: white;
    font-family: 'Roboto';
    font-weight: 700;
    margin: .2rem 0 0 .2rem;
}

.navComp {
    font-size: 14px;
    font-weight: 700;
    color: white;
}

.navBtn {
    border: 1px solid white;
    border-radius: 10px;
    padding: 0;
    margin: .5rem 1rem 0 .5rem;
 } 

 .navBtn2 {
    border: 1px solid white;
    border-radius: 10px;
    padding: 0;
    margin-top: .5rem;
 } 

 @media only screen and (max-width: 1200px) {
     .headerNav {
         margin-bottom: 5rem;
     }
 }
