<nav class="navbar-dark bg-dark d-flex logoSide">
    <img src="./assets/img/logo.svg" alt="" class="logoImage">
    <p class="blogName">24/7 NEWS</p>
</nav>
  
 
    <nav class="navbar navbar-expand-lg color">
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item navText">
            <a class="nav-link active navComp" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item navText">
            <a class="nav-link active navComp" href="#">News</a>
          </li>
          <li class="nav-item navText">
            <a class="nav-link active navComp" href="#">Politics</a>
          </li>
          <li class="nav-item navText">
            <a class="nav-link active navComp" href="#">Business</a>
          </li>
          <li class="nav-item navText">
            <a class="nav-link active navComp" href="#">Sports</a>
          </li>
          <li class="nav-item navText">
            <a class="nav-link active navComp" href="#">Entertainment</a>
          </li>
          <li class="nav-item navText">
            <a class="nav-link active navComp" href="#">Health</a>
          </li>
          
          <li>
            <a href="#" class="nav-link active dropdown-toggle navComp navBtn navText">Account</a>
            <!-- <ul>
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
            </ul> -->
          </li>
         
        


          <a href = "#" class="nav-link active navComp navBtn2 navText">SignUp</a>
          
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a> -->
            <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li> -->
        </ul>
      </div>
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
 
  