
<footer class="footerPath">
    <div class="footerHeads">
      <p>About Us</p>
      <p>Social Media</p>
      <p>Reach Us</p>
    </div>
    <div class="footerNav">
      <div class="footerNavLinks">
        <p><a href="home">Home</a></p>
        <p><a href="news">News</a></p>
        <p><a href="politics">Politics</a></p>
        <p><a href="business">Business</a></p>
        <p><a href="sports">Sports</a></p>
      </div>
      <div class="footerNavLink">
        <p><a href="entertainment">Entertainment</a></p>
        <p><a href="health">Health</a></p>
      </div>
      <div class="footerIcon">
        <img src="./assets/img/icons/youtube.svg" alt="youtubeIcon">
        <img src="./assets/img/icons/facebook.svg" alt="facebookIcon">
        <img src="./assets/img/icons/twitter.svg" alt="twitterIcon">
        <img src="./assets/img/icons/instagram.svg" alt="instagramIcon">
      </div>
      
        <form action="" class="footerForm">
         <h6>Subscribe To Our <br> Newsletter</h6>
         <input type="text" placeholder="Choose Category">
         <div class="footerBtn"><a href="#" class="footerBtn">SUBSCRIBE</a></div>
        </form>
    </div>
    <div class="footerLogo">
      <a href="#" class="logoSide">
        <img src="./assets/img/logo.svg" alt="" class="logoImage">
        <p class="blogName">24/7 NEWS</p>
      </a> 
      <a href="#"><img class="footerScrollIcon" src="./assets/img/icons/Vector.svg" alt="scrollIcon"></a>
    </div>

    <div class="footerLine"></div>
    
    <p class="footerCopyRight">&#169;2020 Guardian NewsPaper. All RIghts Reserved</p>
</footer>
