
<footer class="footerPath">
    <div class="footerHeads">
      <p>About Us</p>
      <p>Social Media</p>
      <p>Reach Us</p>
    </div>
    <div class="footerNav">
      <div>
        <p><a href="home">Home</a></p>
        <p><a href="news">News</a></p>
        <p><a href="politics">Politics</a></p>
        <p><a href="business">Business</a></p>
        <p><a href="sports">Sports</a></p>
      </div>
      <div>
        <p><a href="entertainment">Entertainment</a></p>
        <p><a href="health">Health</a></p>
      </div>
      <div class="footerIcon">
        <img src="./assets/img/icons/youtube.svg" alt="youtubeIcon">
        <img src="./assets/img/icons/facebook.svg" alt="facebookIcon">
        <img src="./assets/img/icons/twitter.svg" alt="twitterIcon">
        <img src="./assets/img/icons/instagram.svg" alt="instagramIcon">
      </div>
      
        <form action="">
         <h6>Subscribe To Our Newsletter</h6>
         <input type="text" placeholder="Choose Category">
         <a href="">SUBSCRIBE</a> 
        </form>
      
    </div>

    
</footer>
