<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="pol">Politics</h1>
      <hr class="line">
    </div>
    <div class="col-sm-8">
      <img src="./assets/img/politics/Rectangle 3.png" alt="">
    </div>
    <div class="col-sm-4">
      <h4 class="mata">Matawalle commends Umahi for dumping PDP</h4>
      <p class="gov">Gov. Bello Matawalle of Zamfara has commended his Ebonyi counterpart, Gov. Dave Umahi, for defecting from the Peoples Democratic Party (PDP) to the All Progressives Congress (APC).
      1 day ago	 Politics</p>
    </div>
  </div>
</div>