<div class="wrapper">
  <h3 class="politics">Politics</h3>
  <div class="sub-wrap1">
    <div class="rect3">
      <a href=""><img src="Assets/images/Rectangle 3.png" alt=""></a>
    </div>
    <div class="text1">
      <p>Matawalle commends Umahi for dumping PDP</p>
      <p>Gov. Bello Matawalle of Zamfara has commended his Ebonyi counterpart, Gov. Dave Umahi, for defecting from the Peoples Democratic Party (PDP) to the All Progressives Congress (APC).
      1 day ago	 Politics</p>
    </div>
  </div>
</div> 