
.pol {
    font-weight: bolder;
    font-size: 3.5rem;
    margin-top: 6rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
}
.mata {
    font-size: 1.7rem;  
    margin-left: 3%;
    margin-right: 3%;
    font-weight: bolder;
    margin-top: 2rem;
}
.line {
    /* height: 6rem; */
    width: 43rem;
    margin-right: 10rem;
    margin-left: 5rem;
}
.gov {
    margin-left: 3%;
}
img {
    margin-left: 5rem;
    margin-top: 2rem;
}
