<div class="ml-5 mr-5">
  <h1 class="mb-3">News</h1> 
  <hr class="w-50 m-0 mb-3">
  <div class="row">
    <div class="col-sm-6">
      <img class="card-img" src="./assets/img/news/pm-abiy.png" alt="PM_Abiy"/>
    </div>
  <div class="col-sm-6">
    <div class="card-body-right">
      <h3 class="card-text ml-5">{{title}}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 parent">
      <div class="card-group">

        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card newsPosts">
              <img src="./assets/img/news/lasg-news.png" class="card-img-top" alt="manhole_vandalism" id="newsImg">
              <div class="card-body">
                <p class="card-title">{{post1}}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card newsPosts">
              <img src="./assets/img/news/child-thief.png" class="card-img-top" alt="man_steals_child" id="newsImg">
              <div class="card-body">
                <p class="card-title">{{post2}}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card newsPosts">
              <img src="./assets/img/news/erdogan-inlaw.png" class="card-img-top" alt="erdogan-son-in-law" id="newsImg">
              <div class="card-body">
                <p class="card-title">{{post3}}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card newsPosts">
              <img src="./assets/img/news/covid-19.png" class="card-img-top" alt="nigeria-covid-cases" id="newsImg">
              <div class="card-body">
                <p class="card-title">{{post4}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card newsPosts">
              <img src="./assets/img/news/borno-news.png" class="card-img-top" alt="military-in-borno" id="newsImg">
              <div class="card-body">
                <p class="card-title">{{post5}}</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card newsPosts">
              <img src="./assets/img/news/president-buhari.png" class="card-img-top" alt="president-buhari" id="newsImg">
              <div class="card-body">
                <p class="card-title">{{post6}}</p>
              </div>
            </div>
          </div>
          
  <div class="col-sm-4">
    <div class="card-body-right">
      <h3 class="">Latest News</h3>
    </div>
  </div>

</div>